<!DOCTYPE html>
<html>
  <head>
    <title>Ramsey</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="{{ url_for('static', filename='resources/css/axure_rp_page.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='data/styles.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='files/ramsey/styles.css') }}" type="text/css" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='resources/scripts/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axutils.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/annotation.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/axQuery.std.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/doc.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/messagecenter.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/events.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/recording.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/action.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/expr.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/geometry.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/flyout.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/model.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/repeater.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/sto.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/utils.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/variables.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/drag.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/move.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/visibility.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/style.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/tree.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/init.temp.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/legacy.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/viewer.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/math.js') }}"></script>
    <script src="{{ url_for('static', filename='resources/scripts/axure/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='data/document.js') }}"></script>
    <script src="{{ url_for('static', filename='files/ramsey/data.js') }}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- note (Group) -->
      <div id="u0" class="ax_default" data-label="note" data-left="252" data-top="770" data-width="896" data-height="90">

        <!-- Unnamed (Rectangle) -->
        <div id="u1" class="ax_default box_1">
          <img id="u1_img" class="img " src="{{ url_for('static', filename='images/ramsey/u1.svg') }}"/>
          <div id="u1_text" class="text ">
            <p><span style="text-decoration:none;">Wenben Cai: main code</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2" class="ax_default box_1">
          <img id="u2_img" class="img " src="{{ url_for('static', filename='images/ramsey/u1.svg') }}"/>
          <div id="u2_text" class="text ">
            <p><span style="text-decoration:none;">Yupeng Zhao: main code</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u3" class="ax_default box_1">
          <img id="u3_img" class="img " src="{{ url_for('static', filename='images/ramsey/u1.svg') }}"/>
          <div id="u3_text" class="text ">
            <p><span style="text-decoration:none;">Haifeng Zhao: debug code</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u4" class="ax_default box_1">
          <img id="u4_img" class="img " src="{{ url_for('static', filename='images/ramsey/u1.svg') }}"/>
          <div id="u4_text" class="text ">
            <p><span style="text-decoration:none;">Serena: interface/video</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u5" class="ax_default box_1">
          <img id="u5_img" class="img " src="{{ url_for('static', filename='images/ramsey/u1.svg') }}"/>
          <div id="u5_text" class="text ">
            <p><span style="text-decoration:none;">Qihao Feng: introduction part &amp; video</span></p>
          </div>
        </div>
      </div>

      <!-- p2box (Rectangle) -->
      <div id="u6" class="ax_default box_2" data-label="p2box">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- p2 (Rectangle) -->
      <div id="u7" class="ax_default paragraph" data-label="p2">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text ">
          <p name="comment1" ><span style="white-space: pre-wrap;">{{ comment }} </span></p>
        </div>
      </div>

      <!-- interbox (Rectangle) -->
      <div id="u8" class="ax_default box_3" data-label="interbox">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      {% if pagenum < 11%}
      <!-- clear (Rectangle) -->
      <div id="u9" class="ax_default button" data-label="clear">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span style="text-decoration:none;">clear</span></p>
        </div>
      </div>
      {% endif %}
      <!-- checkboxes (Group) -->
      <div style="display: none;" id="u11" class="ax_default" data-label="checkboxes" data-left="200" data-top="405" data-width="610" data-height="102">

        <!-- checkbox4 (Checkbox) -->
        <div id="u12" class="ax_default checkbox" data-label="checkbox4">
          <label id="u12_input_label" for="u12_input" style="position: absolute; left: 0px;">
            <img id="u12_img" class="img " src="{{ url_for('static', filename='images/ramsey/checkbox4_u12.svg') }}"/>
            <div id="u12_text" class="text ">
              <p><span style="text-decoration:none;">D. </span></p>
            </div>
          </label>
          <input id="u12_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- checkbox3 (Checkbox) -->
        <div id="u13" class="ax_default checkbox" data-label="checkbox3">
          <label id="u13_input_label" for="u13_input" style="position: absolute; left: 0px;">
            <img id="u13_img" class="img " src="{{ url_for('static', filename='images/ramsey/checkbox3_u13.svg') }}"/>
            <div id="u13_text" class="text ">
              <p><span style="text-decoration:none;">C. </span></p>
            </div>
          </label>
          <input id="u13_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- checkbox2 (Checkbox) -->
        <div id="u14" class="ax_default checkbox" data-label="checkbox2">
          <label id="u14_input_label" for="u14_input" style="position: absolute; left: 0px;">
            <img id="u14_img" class="img " src="{{ url_for('static', filename='images/ramsey/checkbox2_u14.svg') }}"/>
            <div id="u14_text" class="text ">
              <p><span style="text-decoration:none;">B. </span></p>
            </div>
          </label>
          <input id="u14_input" type="checkbox" value="checkbox"/>
        </div>

        <!-- checkbox1 (Checkbox) -->
        <div id="u15" class="ax_default checkbox" data-label="checkbox1">
          <label id="u15_input_label" for="u15_input" style="position: absolute; left: 0px;">
            <img id="u15_img" class="img " src="{{ url_for('static', filename='images/ramsey/checkbox1_u15.svg') }}"/>
            <div id="u15_text" class="text ">
              <p><span style="text-decoration:none;">A. </span></p>
            </div>
          </label>
          <input id="u15_input" type="checkbox" value="checkbox"/>
        </div>
      </div>

      <!-- fillboxes (Group) -->
      <form action={{functionname}} method="post">

        {% if pagenum == 4 or pagenum == 5 or pagenum == 10%}
          <!-- 1fillboxes -->
          <div id="u16" class="ax_default" data-label="fillboxes" data-left="200" data-top="405" data-width="595" data-height="105">


          <!-- fill1 (Group) -->
          <div name="fillbox4div" id="u26" class="ax_default" data-label="fill1" data-left="200" data-top="405" data-width="280" data-height="42">

            <!-- fillbox1 (Text Field) -->
            <div id="u27" class="ax_default text_field" data-label="fillbox1">
              <div id="u27_div" class=""></div>
              <input id="u27_input" name="fillbox1" type="number" value={{value1}} class="u27_input"/>
            </div>

            <!-- lable1 (Rectangle) -->
            <div id="u28" class="ax_default label" data-label="lable1">
              <div id="u28_div" class=""></div>
              <div id="u28_text" class="text ">
                <p><span style="text-decoration:none;">{{labels[0]}}</span></p>
              </div>
            </div>
          </div>
          </div>
        {% endif %}

        {% if pagenum == 3 or pagenum == 6%}
          <!-- 2fillboxes -->
          <div class="ax_default" data-label="fillboxes" data-left="200" data-top="405" data-width="595" data-height="105">

        <!-- fill2 (Group) -->
        <div name="fillbox4div" id="u23" class="ax_default" data-label="fill2" data-left="515" data-top="405" data-width="280" data-height="42">

          <!-- fillbox2 (Text Field) -->
          <div id="u24" class="ax_default text_field" data-label="fillbox2">
            <div id="u24_div" class=""></div>
            <input id="u24_input" name="fillbox2" type="number" value="" class="u24_input"/>
          </div>

          <!-- lable2 (Rectangle) -->
          <div id="u25" class="ax_default label" data-label="lable2">
            <div id="u25_div" class=""></div>
            <div id="u25_text" class="text ">
              <p><span style="text-decoration:none;">{{labels[1]}}</span></p>
            </div>
          </div>
        </div>

        <!-- fill1 (Group) -->
        <div name="fillbox4div" id="u26" class="ax_default" data-label="fill1" data-left="200" data-top="405" data-width="280" data-height="42">

          <!-- fillbox1 (Text Field) -->
          <div id="u27" class="ax_default text_field" data-label="fillbox1">
            <div id="u27_div" class=""></div>
            <input id="u27_input" name="fillbox1" type="number" value={{value1}} class="u27_input"/>
          </div>

          <!-- lable1 (Rectangle) -->
          <div id="u28" class="ax_default label" data-label="lable1">
            <div id="u28_div" class=""></div>
            <div id="u28_text" class="text ">
              <p><span style="text-decoration:none;">{{labels[0]}}</span></p>
            </div>
          </div>
        </div>
      </div>
        {% endif %}

        {% if pagenum == 13 %}
          <!-- 4fillboxes -->
          <div class="ax_default" data-label="fillboxes" data-left="200" data-top="405" data-width="595" data-height="105">

        <!-- fill4 (Group) -->
        <div name="fillbox4div" id="u17" class="ax_default" data-label="fill4" data-left="515" data-top="465" data-width="280" data-height="45">

          <!-- fillbox4 (Text Field) -->
          <div id="u18" class="ax_default text_field" data-label="fillbox4">
            <div id="u18_div" class=""></div>
            <input id="u18_input" name="fillbox4" type="number" value="" class="u18_input"/>
          </div>

          <!-- lable4 (Rectangle) -->
          <div id="u19" class="ax_default label" data-label="lable4">
            <div id="u19_div" class=""></div>
            <div id="u19_text" class="text ">
              <p><span style="text-decoration:none;">Label</span></p>
            </div>
          </div>
        </div>

        <!-- fill3 (Group) -->
        <div name="fillbox4div" id="u20" class="ax_default" data-label="fill3" data-left="200" data-top="465" data-width="280" data-height="42">

          <!-- fillbox3 (Text Field) -->
          <div id="u21" class="ax_default text_field" data-label="fillbox3">
            <div id="u21_div" class=""></div>
            <input id="u21_input" name="fillbox3" type="number" value="" class="u21_input"/>
          </div>

          <!-- lable3 (Rectangle) -->
          <div id="u22" class="ax_default label" data-label="lable3">
            <div id="u22_div" class=""></div>
            <div id="u22_text" class="text ">
              <p><span style="text-decoration:none;">Label</span></p>
            </div>
          </div>
        </div>

        <!-- fill2 (Group) -->
        <div name="fillbox4div" id="u23" class="ax_default" data-label="fill2" data-left="515" data-top="405" data-width="280" data-height="42">

          <!-- fillbox2 (Text Field) -->
          <div id="u24" class="ax_default text_field" data-label="fillbox2">
            <div id="u24_div" class=""></div>
            <input id="u24_input" name="fillbox2" type="number" value="" class="u24_input"/>
          </div>

          <!-- lable2 (Rectangle) -->
          <div id="u25" class="ax_default label" data-label="lable2">
            <div id="u25_div" class=""></div>
            <div id="u25_text" class="text ">
              <p><span style="text-decoration:none;">Label</span></p>
            </div>
          </div>
        </div>

        <!-- fill1 (Group) -->
        <div name="fillbox4div" id="u26" class="ax_default" data-label="fill1" data-left="200" data-top="405" data-width="280" data-height="42">

          <!-- fillbox1 (Text Field) -->
          <div id="u27" class="ax_default text_field" data-label="fillbox1">
            <div id="u27_div" class=""></div>
            <input id="u27_input" name="fillbox1" type="number" value={{value1}} class="u27_input"/>
          </div>

          <!-- lable1 (Rectangle) -->
          <div id="u28" class="ax_default label" data-label="lable1">
            <div id="u28_div" class=""></div>
            <div id="u28_text" class="text ">
              <p><span style="text-decoration:none;">Label</span></p>
            </div>
          </div>
        </div>
      </div>
        {% endif %}

        {% if pagenum == 8 or pagenum ==0  %}
        <!-- 4 multi choice -->
          <div class="ax_default" data-label="fillboxes" data-left="200" data-top="405" data-width="595" data-height="105">

          <!-- fill4 (Group) -->
          <div name="fillbox4div" id="u17" class="ax_default" data-label="fill4" data-left="515" data-top="465" data-width="280" data-height="45">

            <!-- fillbox4 (Text Field) -->
            <div id="u18" class="ax_default text_field" data-label="fillbox4">
              <input type="checkbox" id="D" name="D" value="D">
            </div>

            <!-- lable4 (Rectangle) -->
            <div id="u19" class="ax_default label" data-label="lable4">
              <div id="u19_div" class=""></div>
              <div id="u19_text" class="text ">
                <p><span style="text-decoration:none;">{{options[3]}}</span></p>
              </div>
            </div>
          </div>

          <!-- fill3 (Group) -->
          <div name="fillbox4div" id="u20" class="ax_default" data-label="fill3" data-left="200" data-top="465" data-width="280" data-height="42">

            <!-- fillbox3 (Text Field) -->
            <div id="u21" class="ax_default text_field" data-label="fillbox3">
              <input type="checkbox" id="C" name="C" value="C">
            </div>

            <!-- lable3 (Rectangle) -->
            <div id="u22" class="ax_default label" data-label="lable3">
              <div id="u22_div" class=""></div>
              <div id="u22_text" class="text ">
                <p><span style="text-decoration:none;">{{options[2]}}</span></p>
              </div>
            </div>
          </div>

          <!-- fill2 (Group) -->
          <div name="fillbox4div" id="u23" class="ax_default" data-label="fill2" data-left="515" data-top="405" data-width="280" data-height="42">

            <!-- fillbox2 (Text Field) -->
            <div id="u24" class="ax_default text_field" data-label="fillbox2">
              <input type="checkbox" id="B" name="B" value="B">
            </div>

            <!-- lable2 (Rectangle) -->
            <div id="u25" class="ax_default label" data-label="lable2">
              <div id="u25_div" class=""></div>
              <div id="u25_text" class="text ">
                <p><span style="text-decoration:none;">{{options[1]}}</span></p>
              </div>
            </div>
          </div>

          <!-- fill1 (Group) -->
          <div name="fillbox4div" id="u26" class="ax_default" data-label="fill1" data-left="200" data-top="405" data-width="280" data-height="42">

            <!-- fillbox1 (Text Field) -->
            <div id="u27" class="ax_default text_field" data-label="fillbox1">
              <input type="checkbox" id="A" name="A" value="A">
            </div>

            <!-- lable1 (Rectangle) -->
            <div id="u28" class="ax_default label" data-label="lable1">
              <div id="u28_div" class=""></div>
              <div id="u28_text" class="text ">
                <p><span style="text-decoration:none;">{{options[0]}}</span></p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% if pagenum == 9  %}
          <!-- 4 single choice -->
          <div class="ax_default" data-label="fillboxes" data-left="200" data-top="405" data-width="595" data-height="105">

        <!-- fill4 (Group) -->
        <div name="fillbox4div" id="u17" class="ax_default" data-label="fill4" data-left="515" data-top="465" data-width="280" data-height="45">

          <!-- fillbox4 (Text Field) -->
          <div id="u18" class="ax_default text_field" data-label="fillbox4">
            <input type="radio" id="D" name="option" value="D">
          </div>

          <!-- lable4 (Rectangle) -->
          <div id="u19" class="ax_default label" data-label="lable4">
            <div id="u19_div" class=""></div>
            <div id="u19_text" class="text ">
              <p><span style="text-decoration:none;">{{options[3]}}</span></p>
            </div>
          </div>
        </div>

        <!-- fill3 (Group) -->
        <div name="fillbox4div" id="u20" class="ax_default" data-label="fill3" data-left="200" data-top="465" data-width="280" data-height="42">

          <!-- fillbox3 (Text Field) -->
          <div id="u21" class="ax_default text_field" data-label="fillbox3">
            <input type="radio" id="C" name="option" value="C">
          </div>

          <!-- lable3 (Rectangle) -->
          <div id="u22" class="ax_default label" data-label="lable3">
            <div id="u22_div" class=""></div>
            <div id="u22_text" class="text ">
              <p><span style="text-decoration:none;">{{options[2]}}</span></p>
            </div>
          </div>
        </div>

        <!-- fill2 (Group) -->
        <div name="fillbox4div" id="u23" class="ax_default" data-label="fill2" data-left="515" data-top="405" data-width="280" data-height="42">

          <!-- fillbox2 (Text Field) -->
          <div id="u24" class="ax_default text_field" data-label="fillbox2">
            <input type="radio" id="B" name="option" value="B">
          </div>

          <!-- lable2 (Rectangle) -->
          <div id="u25" class="ax_default label" data-label="lable2">
            <div id="u25_div" class=""></div>
            <div id="u25_text" class="text ">
              <p><span style="text-decoration:none;">{{options[1]}}</span></p>
            </div>
          </div>
        </div>

        <!-- fill1 (Group) -->
        <div name="fillbox4div" id="u26" class="ax_default" data-label="fill1" data-left="200" data-top="405" data-width="280" data-height="42">

          <!-- fillbox1 (Text Field) -->
          <div id="u27" class="ax_default text_field" data-label="fillbox1">
            <input type="radio" id="A" name="option" value="A">
          </div>

          <!-- lable1 (Rectangle) -->
          <div id="u28" class="ax_default label" data-label="lable1">
            <div id="u28_div" class=""></div>
            <div id="u28_text" class="text ">
              <p><span style="text-decoration:none;">{{options[0]}}</span></p>
            </div>
          </div>
        </div>
      </div>
        {% endif %}

        {% if pagenum == 1 %}
          <!-- 2 single choice -->
          <div class="ax_default" data-label="fillboxes" data-left="200" data-top="405" data-width="595" data-height="105">
        <!-- fill2 (Group) -->
        <div name="fillbox4div" id="u23" class="ax_default" data-label="fill2" data-left="515" data-top="405" data-width="280" data-height="42">

          <!-- fillbox2 (Text Field) -->
          <div id="u24" class="ax_default text_field" data-label="fillbox2">
            <input type="radio" id="B" name="option" value="B">
          </div>

          <!-- lable2 (Rectangle) -->
          <div id="u25" class="ax_default label" data-label="lable2">
            <div id="u25_div" class=""></div>
            <div id="u25_text" class="text ">
              <p><span style="text-decoration:none;">{{options[1]}}</span></p>
            </div>
          </div>
        </div>

        <!-- fill1 (Group) -->
        <div name="fillbox4div" id="u26" class="ax_default" data-label="fill1" data-left="200" data-top="405" data-width="280" data-height="42">

          <!-- fillbox1 (Text Field) -->
          <div id="u27" class="ax_default text_field" data-label="fillbox1">
            <input type="radio" id="A" name="option" value="A">
          </div>

          <!-- lable1 (Rectangle) -->
          <div id="u28" class="ax_default label" data-label="lable1">
            <div id="u28_div" class=""></div>
            <div id="u28_text" class="text ">
              <p><span style="text-decoration:none;">{{options[0]}}</span></p>
            </div>
          </div>
        </div>
      </div>
        {% endif %}
      <!-- submit (Rectangle) -->
      <div id="u10" class="ax_default primary_button" data-label="submit">
        <div id="u10_text" class="text ">
              {% if pagenum < 2 or (pagenum > 2 and pagenum < 11)%}
              <input id="submit" type="submit" value="Submit"></input>
              {% endif %}
<!--          <p><span style="text-decoration:none;">submit</span></p>-->
              {% if pagenum == 7 or pagenum == 11 or pagenum == 2%}
              <input id="submit" type="submit" value="Next"></input>
              {% endif %}
        </div>
      </div>
<!--      <div id="u10" class="ax_default primary_button" data-label="submit">-->
<!--        <div id="u10_text" class="text ">-->
<!--              {% if pagenum != 4 and pagenum != 8%}-->
<!--              <input id="reset" type="reset" value="Clear"></input>-->
<!--&lt;!&ndash;          <p><span style="text-decoration:none;">submit</span></p>&ndash;&gt;-->
<!--              {% else %}-->
<!--              <input id="reset" type="reset" value="Clear"></input>-->
<!--              {% endif %}-->
<!--        </div>-->
<!--      </div>-->
      </form>

<!--      &lt;!&ndash; p1box (Rectangle) &ndash;&gt;-->
<!--      <div id="u29" class="ax_default box_2" data-label="p1box">-->
<!--        <div id="u29_div" class=""></div>-->
<!--        <div id="u29_text" class="text " style="display:none; visibility: hidden">-->
<!--          <p></p>-->
<!--        </div>-->
<!--      </div>-->

      <!-- p1 (Rectangle) -->
      <div id="p1box" id="divContainer">
          <p name="question2" style="white-space: pre-wrap;" ><span id="p1boxp" style="text-decoration:none;">{{paragraph|safe}}</span></p>
      </div>

<!--      <div id="u30" class="ax_default paragraph" data-label="p1">-->
<!--        <div id="u30_div" class=""></div>-->
<!--        <div id="u30_text" class="text ">-->

<!--          <p name="question2" style=""><span style="text-decoration:none;">{{paragraph}}</span></p>-->

<!--        </div>-->
<!--      </div>-->

      <!-- title (Rectangle) -->
      <div id="u31" class="ax_default box_1" data-label="title">
        <div id="u31_div" class=""></div>
        <div id="u31_text" class="text ">
          <p name="title2" style=""><span style="text-decoration:none;">{{title}}</span></p>
        </div>
      </div>

      <!-- home (Shape) -->
      <div id="u32" class="ax_default icon" data-label="home">
        <a href="/index"><img id="u32_img" class="img " src="{{ url_for('static', filename='images/ramsey/home_u32.svg') }}"/></a>

        <div id="u32_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='resources/scripts/axure/ios.js') }}"></script>
  </body>
</html>
